.dream
  &__form-wrap
    max-width: 480px
  &__row
    max-width: 1360px
    margin: 0 auto
  &__col
    background: #182c3d
    padding: 0

.form
  &__title
    font-size: 2.4rem
    color: #ffffff
  &__text
    color: #ffffff
    font-family: 'Raleway'
    font-weight: 400
    font-size: 1rem
    opacity: 0.8
  &__policy-info
    color: #ffffff
    font-family: 'Raleway'
    font-weight: 300
    font-size: 1rem
    opacity: 0.8
  &__input
    background: transparent
    border: none
    border-bottom: 1px solid #918e8b
    &::placeholder
      font-size: 1rem
      color: rgba(#ffffff, 0.6)

  &__icon
    color: #929ca4
    font-size: 1.2rem
    font-weight: 100

