.services
  &__menu
    &-item
      text-decoration: none
      color: #807f7f
      font-size: 1.285rem
      font-family: 'Raleway'
      font-weight: 700
      transition: transform 0.2s ease
      &:hover
        text-decoration: none
        font-weight: 700
        color: #00203a
  &__content
    &-header
      color: #00203a
      font-size: 2.142rem
    &-description
      font-size: 1.285rem
      font-family: 'Raleway'
    &-quantity
      font-size: 1.285rem
      font-family: 'Raleway'
      font-weight: 600
    &-button
      font-size: 1.07rem
      color: #112537
      text-transform: uppercase
      font-family: 'Raleway'
      font-weight: 600
      background: transparent
      border: 1px solid #112537
      padding: 15px 40px
