@charset "UTF-8";
@media screen and (max-width: 1200px) {
  .header {
    margin-bottom: 50px !important;
  }
  .hero::after {
    min-height: 700px !important;
  }
  .hero__contacts {
    bottom: 29% !important;
  }
  .hero__content {
    -webkit-transform: translateY(-104%) !important;
            transform: translateY(-104%) !important;
  }
  .hero__carousel-indicators {
    left: 90% !important;
  }
  .portfolio__swiper-slide {
    min-width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .header {
    margin-bottom: 0 !important;
  }
  .hero::after {
    min-height: 582px !important;
  }
  .hero__content {
    left: 0 !important;
    top: 44% !important;
  }
  .hero__title {
    font-size: 3.357rem !important;
  }
  .hero__carousel-indicators {
    left: 85% !important;
    bottom: -17% !important;
  }
  .hero__contacts {
    bottom: 45% !important;
  }
  .services__content-quantity {
    position: absolute;
    top: -190px;
  }
  .services__menu-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px !important;
  }
  .header {
    background: url("../img/header/hero-bg-768.jpg") no-repeat center/cover;
    min-height: 660px !important;
  }
  .header::after {
    content: url("../img/header/header-logo-320.png");
    position: absolute;
    right: 0;
    top: 5%;
  }
  .header__logo {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__navbar {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .hero::after {
    min-height: 100% !important;
    width: 100% !important;
    background: rgba(17, 37, 55, 0.88) !important;
  }
  .hero__carousel {
    display: none;
  }
  .hero__content {
    text-align: center !important;
    max-width: 100% !important;
    top: 7% !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
  .hero__title {
    font-size: 5.25rem !important;
    line-height: 90px  !important;
    max-width: 100% !important;
  }
  .hero__contacts {
    display: none;
  }
  .hero__button {
    position: relative;
  }
  .hero__button span::after {
    content: url("../img/header/hero__arrow-down.png") !important;
    position: absolute;
    bottom: -114px;
    right: 50%;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .features__row div:nth-child(even) {
    margin-top: 100px  !important;
  }
}

@media screen and (max-width: 767px) {
  .services {
    overflow: hidden;
  }
  .services__img {
    height: 400px;
    position: relative;
  }
  .services__img img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    min-width: 768px;
  }
  .services__content-quantity {
    top: -250px;
  }
}

@media screen and (max-width: 576px) {
  .hero__title {
    font-size: 3rem !important;
    line-height: 48.19px !important;
  }
  .hero__container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .features__row div:nth-child(even) {
    margin-top: 0 !important;
  }
  .services__content-quantity {
    position: static;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .portfolio__swiper-slide {
    min-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .services__content-button {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .services__content-button:hover {
    border: 1px solid #f8a25a;
    background: #f8a25a;
    color: #ffffff;
  }
  .services__menu-item:hover {
    font-weight: 700;
    color: #00203a;
    text-decoration: none;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/ralewaythin.woff2") format("woff2"), url("ralewaythin.woff") format("woff"), url("../fonts/raleway/ralewaythin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/ralewaysemibold.woff2") format("woff2"), url("ralewaysemibold.woff") format("woff"), url("../fonts/raleway/ralewaysemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/ralewaybold.woff2") format("woff2"), url("ralewaybold.woff") format("woff"), url("../fonts/raleway/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/ralewayextrabold.woff2") format("woff2"), url("ralewayextrabold.woff") format("woff"), url("../fonts/raleway/ralewayextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: local("MullerLight"), url("../fonts/MullerLight/MullerLight.woff") format("woff");
}

html {
  font-size: 14px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

button {
  border: none;
  outline: none;
}

.title {
  color: #00203a;
  font-family: "Playfair Display";
  font-size: 3.21rem;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.header {
  height: 100vh;
  max-height: 770px;
  position: relative;
  margin-bottom: 150px;
}

.header__container {
  z-index: 10;
  position: relative;
  padding: 0;
}

.header__navbar {
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

.header__menu {
  border: none;
  outline: none !important;
  padding-left: 0;
  padding-right: 0;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  z-index: 100;
}

.header__phone {
  color: #252525;
  font-family: 'MullerLight';
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.09px;
}

.header__collapse {
  position: absolute;
  top: 80%;
}

.hero {
  width: 100%;
  height: 100%;
}

.hero::after {
  content: '';
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  background: rgba(17, 37, 55, 0.97);
  z-index: 0;
  min-height: 770px;
}

.hero__container {
  margin-top: 15px;
  width: 100%;
  height: 72%;
  min-height: 770px;
  padding: 0;
  position: relative;
}

.hero__carousel {
  max-height: 100%;
  position: relative;
}

.hero__carousel-item {
  height: 100%;
}

.hero__carousel-indicators {
  bottom: -13%;
  left: 91%;
  width: 100px;
  margin: 0;
}

.hero__carousel-indicator {
  background-color: #1a444a !important;
}

.hero__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-81%);
          transform: translateY(-81%);
  left: 5%;
  z-index: 100;
  display: block;
  color: #ffffff;
  max-width: 364px;
}

.hero__title {
  font-size: 4.357rem;
  line-height: 59.32px;
  letter-spacing: 0.48px;
  margin-bottom: 24px;
}

.hero__button {
  margin-top: 36px;
  padding: 15px;
  -webkit-box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
          box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
  background-color: #f8a25a;
  color: #ffffff;
}

.hero__button span::after {
  content: url("../img/header/hero__button-arrow.png");
  margin-left: 20px;
}

.hero__contacts {
  position: absolute;
  bottom: 19%;
  left: 2%;
  z-index: 100;
}

.hero__contacts-link {
  color: #ffffff;
  opacity: 0.67;
  margin-right: 36px;
}

.features__row div:nth-child(even) {
  margin-top: 150px;
}

.features__card-number {
  opacity: 0.26;
  color: #fea052;
  font-family: "Playfair Display";
  font-size: 6.07rem;
  font-weight: 700;
  letter-spacing: 0.28px;
}

.features__card-header {
  color: #1a292f;
  font-family: 'Raleway';
  font-size: 1.57rem;
  font-weight: 700;
}

.features__card-text {
  color: #838383;
  font-family: 'Raleway';
  font-size: 1.143rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.57px;
}

.portfolio {
  margin-top: 100px;
}

.portfolio__swiper-slide {
  max-width: 258px;
  position: relative;
  min-height: 552px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.portfolio__swiper-slide img {
  height: 100%;
}

.portfolio__swiper-slide:hover {
  max-width: 392px;
}

.portfolio__swiper-button-next {
  right: 3%;
  top: 37%;
}

.portfolio__swiper-button-next::after {
  content: url("../img/portfolio/slide-arrow-next.png");
  width: 38px;
  height: 12px;
}

.portfolio__swiper-button-prev {
  left: 3%;
  top: 37%;
}

.portfolio__swiper-button-prev::after {
  content: url("../img/portfolio/slide-arrow-prev.png");
  width: 38px;
  height: 12px;
}

.portfolio__menu-item {
  text-decoration: none;
  color: #807f7f;
  font-size: 1.285rem;
  font-family: 'Raleway';
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__menu-item::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #00203a;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__menu-item:hover {
  font-weight: 700;
  color: #00203a;
  text-decoration: none;
}

.portfolio__menu-item:hover::after {
  opacity: 1;
}

.slide-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/portfolio/slide-mask-bg.png");
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

.slide-mask:hover {
  opacity: 0;
}

.slide-mask:hover ~ .slide-add-button {
  display: block;
}

.slide-mask__header {
  font-size: 1.143rem;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: 0.57px;
  margin-left: 26px;
  margin-top: 32px;
}

.slide-mask::after {
  content: 'Дизайн интерьера';
  position: absolute;
  left: -20%;
  bottom: 17%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #ffffff;
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.28px;
}

.slide-add-button {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.services__menu-item {
  text-decoration: none;
  color: #807f7f;
  font-size: 1.285rem;
  font-family: 'Raleway';
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.services__menu-item:hover {
  text-decoration: none;
  font-weight: 700;
  color: #00203a;
}

.services__content-header {
  color: #00203a;
  font-size: 2.142rem;
}

.services__content-description {
  font-size: 1.285rem;
  font-family: 'Raleway';
}

.services__content-quantity {
  font-size: 1.285rem;
  font-family: 'Raleway';
  font-weight: 600;
}

.services__content-button {
  font-size: 1.07rem;
  color: #112537;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 600;
  background: transparent;
  border: 1px solid #112537;
  padding: 15px 40px;
}
/*# sourceMappingURL=style.css.map */