html
  font-size: 14px

.navbar-collapse
  position: absolute
  top: 90%
  background-color: transparent !important
  
.navbar-nav
  background-color: transparent !important

.navbar-toggler
  outline: none !important

.header
  font-family: 'Montserrat'
  &__logo
    font-size: 1.6rem
    font-weight: 700
  &__phone,  &__ua, &__ru
    color: #000000
    &:hover
      color: #000000
      text-decoration: underline !important
  &__ua
    font-weight: 700

